@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Inter", sans-serif;
  list-style: none;
  text-decoration: none;
  border: none;
}

// <=====> PRIMARY COLORS <=====>

$green: hsl(163, 72%, 41%);
$red: hsl(356, 69%, 56%);
$facebook-bg: hsl(208, 92%, 53%);
$twitter-bg: hsl(203, 89%, 53%);
$instagram-bg: linear-gradient(
  to right,
  hsl(37, 97%, 70%),
  hsl(5, 77%, 71%),
  hsl(329, 70%, 58%)
);
$youtube-bg: hsl(348, 97%, 39%);

// <=====> DARK MODE <=====>
$bg: hsl(232, 19%, 15%);
$bg-pattern: hsl(232, 19%, 15%);
$card-bg: hsl(228, 28%, 20%);
$light-dark: hsl(230, 22%, 74%);
$text-color: hsl(0, 100%, 100%);
$toggle-bg: linear-gradient(hsl(210, 79%, 56%) to hsl(146, 68%, 55%));

// <=====> LIGHT MODE <=====>
$bg: hsl(0, 100%, 100%);
$top-bg-pattern: hsl(225, 100%, 98%);
$card-bg: hsl(227, 47%, 96%);
$text-dark: hsl(228, 12%, 44%);
$text-color: hsl(230, 17%, 14%);
$toggle-bg: hsl(230, 22%, 74%);
